## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Hilo,US,82.13,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
1,6,Atuona,PF,77.79,broken clouds,-9.8000,-139.0333,Villa Enata
2,7,Hirara,JP,84.47,broken clouds,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
3,8,Karratha,AU,78.06,clear sky,-20.7377,116.8463,ibis Styles Karratha
4,9,Hinatuan,PH,87.87,light rain,8.3722,126.3342,Villa Juanita Hinatuan

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}, and <dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.

locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
vacation_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Hilo,US,82.13,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
1,6,Atuona,PF,77.79,broken clouds,-9.8000,-139.0333,Villa Enata
2,7,Hirara,JP,84.47,broken clouds,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
3,8,Karratha,AU,78.06,clear sky,-20.7377,116.8463,ibis Styles Karratha
4,9,Hinatuan,PH,87.87,light rain,8.3722,126.3342,Villa Juanita Hinatuan
...,...,...,...,...,...,...,...,...
241,673,Atambua,ID,85.21,clear sky,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
242,677,Carbonia,IT,75.85,overcast clouds,39.1672,8.5222,Lu 'Hotel
243,680,Brigantine,US,83.01,few clouds,39.4101,-74.3646,Legacy Vacation Resorts Brigantine Beach
244,681,Peleduy,RU,84.76,clear sky,59.6289,112.7406,ÐÐ¾ÑÑÐ¸Ð½Ð¸ÑÐ° Â«Ð£ÑÑÂ»
245,689,Yatou,CN,78.06,light rain,37.1500,122.3833,GreenTree Hotel Rongcheng Bus Station

In [44]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Mozarlandia")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Mozarlandia")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Floriano")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Cururupu")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Sao Felix Do Xingu")]

In [43]:
vacation_start

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
205,599,Mozarlandia,BR,77.54,scattered clouds,-14.7447,-50.5706,Hotel Santa MÃ´nica

In [45]:
vacation_end

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
205,599,Mozarlandia,BR,77.54,scattered clouds,-14.7447,-50.5706,Hotel Santa MÃ´nica

In [46]:
vacation_stop1

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
127,393,Floriano,BR,81.32,broken clouds,-6.7669,-43.0225,Hotel Maktub

In [47]:
vacation_stop2

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
64,190,Cururupu,BR,76.39,overcast clouds,-1.8283,-44.8683,POUSADA TRAVÃS'CIA

In [48]:
vacation_stop3

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
204,595,Sao Felix Do Xingu,BR,77.79,scattered clouds,-6.6447,-51.995,Rio Xingu Camping

In [52]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [53]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Create Map with route
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,599,Mozarlandia,BR,77.54,scattered clouds,-14.7447,-50.5706,Hotel Santa MÃ´nica
1,393,Floriano,BR,81.32,broken clouds,-6.7669,-43.0225,Hotel Maktub
2,190,Cururupu,BR,76.39,overcast clouds,-1.8283,-44.8683,POUSADA TRAVÃS'CIA
3,595,Sao Felix Do Xingu,BR,77.79,scattered clouds,-6.6447,-51.9950,Rio Xingu Camping

In [63]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}, and <dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [65]:
# 11a. Add a marker layer for each city to the map.

locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))